.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.frame {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 400px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 9px rgb(150, 150, 150);
}

.card div.content {
  padding-left: 10px;
  padding-right: 10px;
}

.card img {
  width: 100%;
  height: 300px;
}

.card div.content-header {
  display: flex;
  justify-content: space-between;
}

.card div.content-header p.story-score {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: burlywood;
  border-radius: 5px;
  box-shadow: 1px 1px 25px rgb(150, 150, 150);
}

.card div.content-header h2 {
  text-decoration: underline;
  padding-bottom: 0px;
}

.card div.content-body {
  display: flex;
  justify-content: space-between;
  font-size: 12px
}

.card div.content-body p.content-author span.author {
  font-weight: bolder;
}

.card div.content-body p.content-author span.karma {
  color: gray;
}

.card div.content-body p.content-timestamp {
  color: gray;
}

.activity-indicator {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}

.load-wraper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(211,211,211);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;
}

.activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  animation: loading 1s infinite;
  z-index: 45;
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}